*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    min-width: 1250px;
    margin: 0;
    padding: 0;
    height: 100%;
}

@media(max-width:1250px){
    .container{
        max-width:980px;
        header{
            .logo{
                margin-left: 265px;
            }
            .currency{
                margin-left: 300px;
            }
        }
        .category{
            max-width: 900px;
            margin-top: 100px;
        }
        .cart{
            max-width: 900px;
            margin-top: 100px;
        }
        .PDP{
            max-width: 900px;
            margin-top: 100px;
        }

    }
}

@media(max-width:993px){
    .container{
        max-width:777px;
        .PDP{
            display: block;
        }
        header{
            nav{
                display: none;
                ul,li{
                    height: auto;

                }
                
            }
            .currency{
                display: none;
            }
            .logo{
                margin-left: 50px;
            }
            .shopping-cart-area{
                display:none;
            }
            .shopping-cart-open{
                margin-left: 140px;
            }
            .burger{
                display: block;
                width: 50px;
                height: 50px;
                right: 50px;
                margin-top: 24px;
                position: absolute;
                cursor: pointer;
                .line-hight{
                  width:40px;
                  height: 7px;
                  background:#5ECE7B;
                  margin: 3px;
                }
                .line-midlle{
                  width:30px;
                  height: 7px;
                  background:#5ECE7B;
                  margin: 3px;
                  
                }
                .line-down{
                  width:10px;
                  height: 7px;
                  background:#5ECE7B;
                  margin: 3px;
                }
            }
           
            
        }
        
    }
}

@media(max-width:790){
    .container{
        max-width: none;
        
    }
}

.container{
    max-width:1250px;
    margin: 0 auto;
    margin-left: 101px;
    margin-right: 101px;
}
.wrapper{
    display: flex;
        width: auto;
}
.special{
    background: rgba(57, 55, 72, 0.22);
    background-position: top;
    background-size: cover;

    top: 78px;
    min-height: 1435px;
    position: fixed;
    z-index: 999;
    img{
        opacity: 22%;
    }
}

